@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background : #FFD10F;
  color:#353D33;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


nav .nav-link.active{
  font-weight: bold;
}

nav .nav-link{
  font-size: 12pt;
  color:#eaeaea;
  margin-bottom:10px;
}

nav .brand{
  
}

nav img{
  width:48px;
  height:48px;
}


nav .nav-link{
  cursor:pointer;
}

/* nav .nav-link:hover{
  background: #;
} */

.bg-primary{
  background: #353D33;
}

.text-primary{
  color : #353D33;
}

nav .menu-responsive{

}


nav h1{
  color:#353D33 !important;
}

nav.bg-primary h1{
  color : white !important;
}

/* banner */
html, body, #__next{
  height:100%;
}

@media (min-width: 920px){
  nav, nav.bg-primary{
    background: transparent;
  }

  nav .nav-link{
    color:#353D33;
  }
  nav .nav-link:hover{
    background: #353D33;
  }

  nav img{
    width:64px !important;
    height:64px !important;
  }
}